body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial;
    overflow:hidden;
}

.header{
    text-align:center;
    padding-top:20px;
}

.coin-container{
    text-align:center;
    margin-top:30px;
}

#coinText{
    font-size:50px;
    font-weight:bold;
}

.tap-area{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:50px;
}

#tapButton{
    width:220px;
    height:220px;
    border-radius:50%;
    animation:pulse 2s infinite;
    transition:0.1s;
}

#tapButton:active{
    transform:scale(0.92);
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
    background:#111827;
    display:flex;
    justify-content:space-around;
    padding:20px 0;
}

.menu-item{
    font-size:18px;
}

.plus-one{
    position:absolute;
    color:gold;
    font-size:28px;
    font-weight:bold;
    pointer-events:none;
    animation:floatUp 0.7s linear forwards;
}

@keyframes pulse{

0%{
    transform:scale(1);
}

50%{
    transform:scale(1.05);
}

100%{
    transform:scale(1);
}

}

@keyframes floatUp{

0%{
    opacity:1;
    transform:translateY(0px);
}

100%{
    opacity:0;
    transform:translateY(-80px);
}

}